.hero_section {
    @apply relative z-[1] flex items-center h-[800px] overflow-hidden;
}

.hero_wave {
    @apply w-screen h-auto text-white absolute right-0 left-0 bottom-[-1px] z-10 pointer-events-none;
    background-color: rgba(255, 255, 255, 0);
    transform-style: preserve-3d;
    transform-origin: center;
}

.hero_grid {
    @apply grid-cols-two grid-rows-zero relative w-full h-auto justify-items-stretch grid auto-cols-one grid-cols-two grid-rows-two gap-y-4 gap-x-4;
}